@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

.jumbotron {
    margin-bottom: 0px;
}

html, body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 15px;
    flex: 1 0 auto;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.footer {
    flex-shrink: 0;
    width: 100%;
}

a:hover {
    text-decoration: none;
}