<!DOCTYPE HTML>
    <html xmlns:th="htpp://www.thymeleaf.org"
          xmlns:sec="http://www.w3.org/1999/xhtml"
          xmlns="http://www.w3.org/1999/html">
    <body>
        <div th:fragment="header">
            <div class="jumbotron text-center">
                <h1>Analizator kodu</h1>
                <p class="lead">Program służący do analizy projektów</p>
            </div>
        </div>
        <div th:fragment="footer">
            <div class="jumbotron text-center footer">
                <p class="lead">Autorzy aplikacji: Łukasz Źróbek & Adam Przedlacki</p>
            </div>
        </div>
    </body>
</html>