<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
    <head>
        <title>Strona główna</title>
    </head>
    <body>
    <div layout:fragment="content">
        <div class="container">
            <form th:action="@{/}" th:object="${form}" method="post">
                <div class="form-group">
                    <label for="repoAddressInput">Adres do repozytorium:</label>
                    <input type="text" class="form-control" id="repoAddressInput" placeholder="Podaj adres URL do repozytorium na GitHub" th:field="*{repoUrl}">
                </div>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('repoUrl')}" th:errors="*{repoUrl}"></small>
                <button type="submit" class="btn btn-primary">Analizuj</button>
            </form>
        </div>
        <div th:replace="_fragments :: footer"></div>
    </div>
    </body>
</html>