<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
    <head>
        <title>Strona główna</title>
    </head>
    <body>
    <div layout:fragment="content">
        <form th:action="@{/}" th:object="${form}" method="post">
            <div class="form-group">
                <label for="repoAddressInput">Adres do repozytorium:</label>
                <input type="text" class="form-control" id="repoAddressInput" placeholder="Podaj adres URL do repozytorium na GitHub" th:field="*{repositoryUrl}">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('repositoryUrl')}" th:errors="*{repositoryUrl}"></small>
            </div>
            <button type="submit" class="btn btn-primary">Analizuj</button>
        </form>
    </div>
    </body>
</html>